[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Titan ProtocolModules M3UA
[access "refs/*"]
	owner = group user/Harald Welte (laf0rge)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Harald Welte (laf0rge)
	label-Verified = -1..+1 group user/Harald Welte (laf0rge)
	push = group user/Harald Welte (laf0rge)
	read = group user/Harald Welte (laf0rge)
	rebase = group user/Harald Welte (laf0rge)
	removeReviewer = group user/Harald Welte (laf0rge)
	submit = group user/Harald Welte (laf0rge)
[access "refs/heads/*"]
	create = group user/Harald Welte (laf0rge)
	push = +force group user/Harald Welte (laf0rge)
	pushMerge = group user/Harald Welte (laf0rge)
	read = group user/Harald Welte (laf0rge)
[access "refs/tags/*"]
	push = group user/Harald Welte (laf0rge)
	push = +force group user/Harald Welte (laf0rge)
